# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Physics files
*.hbook
*.rz
analysis.exe
fort.500
fort.501
fort.502
fort.503
fort.504
fort.505
fort.506
fort.507
fort.81
fort.82
fort.83
fort.84
fort.85
fort.998
fort.999

last.kumac
last.kumacold
paw.metafile
/data
